@use "../../assets/styles/resets";
@import "../../assets/styles/setting";

footer {
    width: 100%;
    height: 100px;
    background-color: $light;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    .footer-logo {
        width: 60px;
        margin-left: 10px;
        margin-top: 10px;
        height: 60px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .footer-text{
        font-size: 40px;
        padding-top: 20px;
        margin-left: 10px;
        p span{
            font-weight: 1000;
            color: $violet;
        }
    }
}